
@model SongTangPoetryModel
@{
    ViewBag.Title = $"每天一首诗  | {Model.Song.Name}";
}
<!-- content
   ================================================== -->
<section id="content-wrap" class="blog-single">
    <div class="row">
        <div class="col-twelve">

            <article class="format-audio">

                <div class="content-media">
                    <div class="featured-post-slide">

                        <div class="post-background" style="background-image:url('@Url.Content("~/images/thumbs/single/bg1.jpg")');"></div>

                        <div class="overlay"></div>

                        <div class="post-content">
                            <ul class="entry-meta">
                                <li>@Model.Song.Album，</li>
                                <li>@DateTime.Now.ToShortDateString()。</li>
                            </ul>

                            <h1 class="slide-title">@Model.Song.Name</h1>
                        </div>

                    </div>
                    <div class="audio-wrap">
                        @*autoplay自动播放，loop循环播放*@
                        <audio id="player2" src="@Url.Content($"~{Model.Song.Mp3}")" autoplay="autoplay" loop="loop" width="100%" height="42" controls="controls"></audio>
                    </div>
                </div>

                <div class="pagenav group">
                    @*<div class="prev-nav">
                            <a href="#" rel="prev">
                                <span>Previous</span>
                                Tips on Minimalist Design
                            </a>
                        </div>*@
                    <div class="next-nav">
                        <a asp-action="TangPoetry" asp-controller="Song" asp-route-id="@Model.NextSong.Id" rel="next">
                            <span>下一首</span>
                            @($"{Model.NextSong.Album}，{Model.NextSong.Name}")
                        </a>
                    </div>
                </div>
            </article>


        </div> <!-- end col-twelve -->
    </div> <!-- end row -->


</section> <!-- end content -->
