@model ArticleDetailModel
@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="container container-message container-details">
    <div class="contar-wrap">
        <div class="item">
            <div class="item-box  layer-photos-demo1 layer-photos-demo">
                <h3>@Model.Article.Title</h3>
                <h5>发布于：<span>@Model.Article.CreateDateTime</span></h5>
                <p class="detail-body">
                    @Model.Article.Content
                </p>
                <img src="~/res/static/images/item.png" alt="" layer-index="0">
                <div class="count layui-clear">
                    <span class="pull-left">阅读 <em>19999+</em></span>
                    <span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>@Model.Article.SupportCount</em></span>
                </div>
            </div>
        </div>
        <a name="comment"> </a>
        <div class="comt layui-clear">
            <a href="javascript:;" class="pull-left">评论</a>
            <a href="@Url.Action("Comment","Article",new { Id=Model.Article.Id })" class="pull-right">写评论</a>
        </div>
        <div id="LAY-msg-box">

            @foreach (var item in Model.Comments)
            {
                <div class="info-item">
                    <img class="info-img" src="/res/static/images/info-img.png" alt="">
                    <div class="info-text">
                        <p class="title count">
                            <span class="name">一片空白</span>
                            <span class="info-img like"><i class="layui-icon layui-icon-praise"></i>@item.LikeCount</span>
                        </p>
                        <p class="info-intr">
                            @item.Content
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>